USE [master]
GO
/****** Object:  Database [CommunityCenter]    Script Date: 31/08/2025 2:03:27 PM ******/
CREATE DATABASE [CommunityCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommunityCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CommunityCenter.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CommunityCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CommunityCenter_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommunityCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommunityCenter]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VenuId] [int] NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](100) NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChartOfAccounts]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartOfAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[ParentAccountId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JournalEntries]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ReferenceNo] [nvarchar](100) NULL,
	[Posted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JournalEntryLines]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntryLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JournalEntryId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Narration] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[IsAdvance] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Venu]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venu](
	[VenuId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Capacity] [int] NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[VenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vwDueList]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwDueList] AS
SELECT b.Id, b.CustomerName, b.StartDate, b.EndDate, b.Amount,
       ISNULL(p.TotalPaid,0) AS Paid, (b.Amount - ISNULL(p.TotalPaid,0)) AS Due
FROM Bookings b
LEFT JOIN (
  SELECT BookingId, SUM(PaidAmount) AS TotalPaid FROM Payments GROUP BY BookingId
) p ON p.BookingId = b.Id
WHERE b.Amount > ISNULL(p.TotalPaid,0);
GO
/****** Object:  View [dbo].[vwTrialBalance]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTrialBalance] AS
SELECT a.Id, a.Code, a.Name, a.AccountType,
  SUM(ISNULL(l.Debit,0)) AS TotalDebit,
  SUM(ISNULL(l.Credit,0)) AS TotalCredit,
  SUM(ISNULL(l.Debit,0))-SUM(ISNULL(l.Credit,0)) AS Balance
FROM ChartOfAccounts a
LEFT JOIN JournalEntryLines l ON l.AccountId = a.Id
GROUP BY a.Id, a.Code, a.Name, a.AccountType
GO
ALTER TABLE [dbo].[JournalEntries] ADD  DEFAULT ((0)) FOR [Posted]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  DEFAULT ((0)) FOR [Debit]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  DEFAULT ((0)) FOR [Credit]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [IsAdvance]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([VenuId])
REFERENCES [dbo].[Venu] ([VenuId])
GO
ALTER TABLE [dbo].[ChartOfAccounts]  WITH CHECK ADD FOREIGN KEY([ParentAccountId])
REFERENCES [dbo].[ChartOfAccounts] ([Id])
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ChartOfAccounts] ([Id])
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD FOREIGN KEY([JournalEntryId])
REFERENCES [dbo].[JournalEntries] ([Id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[spGetLedger]    Script Date: 31/08/2025 2:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetLedger]
  @AccountId INT, @StartDate DATETIME = NULL, @EndDate DATETIME = NULL
AS
SELECT j.Id AS JournalEntryId, j.EntryDate, j.ReferenceNo, l.Narration, l.Debit, l.Credit
FROM JournalEntries j
JOIN JournalEntryLines l ON l.JournalEntryId = j.Id
WHERE l.AccountId = @AccountId
  AND (@StartDate IS NULL OR j.EntryDate >= @StartDate)
  AND (@EndDate IS NULL OR j.EntryDate <= @EndDate)
ORDER BY j.EntryDate, j.Id;
GO
USE [master]
GO
